
#container{
  float:left;
  position:relative;
}
.rect{
  float:left;
  height: 50px; /* or whatever you want */
  position:relative;
  width: 50px; /* or whatever you want */
}

.beep { background-color: blue;}
